<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"?>
    <title>Update tài khoản</title>
</head>
<body>
<h1>Edit Tài khoản gửi tiền:</h1>
<form th:action="@{/tkguitien/doUpdate}" method="POST" th:object="${taiKhoanGuiTien}">

    ID  <span th:utext="${taiKhoanGuiTien.id}"> </span> <br/> <br/>

    lãi suất: <input th:field="*{laisuat}"/> <br/> <br/>

    Số dư: <span th:utext="${taiKhoanGuiTien.sodu}"></span>  <br/> <br/>
    Loại tài khoản: <span th:utext="${taiKhoanGuiTien.loai}"></span>  <br/> <br/>

    Số dư tối thiểu: <input th:field="*{sodu_toithieu}"/> <br/> <br/>
    ID Khách Hàng: <input  th:field="*{khachhang_id}"/> <br/> <br/>
    ID Nhân Viên tạo: <input  th:field="*{nhanvien_id}"/> <br/> <br/>

    <input type="submit" value="UPDATE" />
</form>
</body>
</html>