<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Ten</th>
            <th>Dia chi</th>
            <th>SoCMT</th>
            <th>Ngay Sinh</th>
        </tr>
        <tr th:each ="customer : ${customer}">
            <td th:utext="${customer.id}">...</td>
            <td th:utext="${customer.ten}">...</td>
            <td th:utext="${customer.cmt}">...</td>
            <td th:utext="${customer.diachi}">...</td>
            <td th:utext="${customer.ngaysinh}">...</td>

            <td><a th:href="@{/customer/update?id={id}(id=${customer.id})}" id="another">Sửa Khách hàng</a><br/></td>
            <td><a th:href="@{/customer/delete?id={id}(id=${customer.id})}" id="another">Xóa Khách hàng</a><br/></td>
        </tr>
    </table>
    <table >
        <tr >
            <td><a href="/customer/add" id="another">Thêm nhân viên</a><br/></td>
        </tr>

    </table>

</body>
</html>