<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<a th:href="@{/customer}">List Customer</a><br />
<h1>Edit Customer:</h1>
<form th:action="@{/customer/doUpdate}" method="POST" th:object="${khachHang}">

    Id: <input th:field="*{id}" /> <br/> <br/>
    Tên: <input th:field="*{ten}"/> <br/> <br/>
    CMT: <input th:field="*{cmt}"/> <br/> <br/>

    Ngaysinh: <input th:field="*{ngaysinh}"/> <br/> <br/>

    Dia chi: <input th:field="*{diachi}"/> <br/> <br/>

    <input type="submit" value="UPDATE" />
</form>
</body>
</html>