<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán</title>
</head>
<body>
<h1>Thanh toán tiền trong tài khoản</h1>
<form method="POST" th:action="@{/tktindung/doPay?id={id}(id=${taiKhoanTinDung.id})}" th:object="${taiKhoanTinDung}">
    <h3>Nhập số tiền thanh toán</h3>
    <table cellspacing="5" border="1">
        <tr>
            <th>ID</th>
            <th>Loại</th>
            <th>Hạn Sử dụng</th>
            <th>Số dư</th>

        </tr>
        <tr>
            <td th:utext="${taiKhoanTinDung.id}">...</td>
            <td th:utext="${taiKhoanTinDung.loai}">...</td>
            <td th:utext="${taiKhoanTinDung.hansd}">...</td>
            <td th:utext="${taiKhoanTinDung.sodu}">...</td>
        </tr>
    </table>
    <tr>
        <td align="right"><label >Số tiền thanh toán: </label></td>
        <td align="right"><input type="text" th:value="${sotien}" name="sotien"/></td>
    </tr>
    <tr>
        <td></td>
        <td><br><input type="submit" value="Thanh toán"></td>
    </tr>
</form>

</body>
</html>