<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm nhân viên</title>

</head>
<body>
<form method="POST" th:action="@{/employee/doAdd}" th:object="${nhanVien}">
    <h1>Thêm nhân viên!</h1>
    <h3>Điền thông tin vào theo mẫu ...</h3>
    <table cellspacing="5" border="0">
        <tr>
            <td align="right"><label >Ten: </label></td>
            <td align="right"><input type="text" th:field="*{ten}"/></td>
        </tr>
        <tr>
            <td align="right"><label >CMT: </label></td>
            <td align="right"><input type="text" th:field="*{cmt}"/></td>
        </tr>
        <tr>
            <td align="right"><label >Ngày Sinh: </label></td>
            <td align="right"><input type="text" th:field="*{ngaysinh}"/></td>
        </tr>
        <tr>
            <td align="right"><label >Địa chỉ: </label></td>
            <td align="right"><input type="text" th:field="*{diachi}"/></td>
        </tr>
        <tr>
            <td align="right"><label >Bậc nghề: </label></td>
            <td align="right"><input type="text" th:field="*{bacnghe}"/></td>
        </tr>
        <tr>
            <td align="right"><label >Thâm niên: </label></td>
            <td align="right"><input type="text" th:field="*{thamnien}"/></td>
        </tr>
        <tr>
            <td align="right"><label >Vị trí: </label></td>
            <td align="right"><input type="text" th:field="*{vitri}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><br><input type="submit" value="Thêm nhân viên"></td>
        </tr>
    </table>
</form>
</body>
</html>