<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"
    <title>Spring Boot - Hibernate</title>
</head>
<body>
<a th:href="@{/employees}">List Customer</a><br />
<h1>Edit Customer:</h1>
<form th:action="@{/employee/doUpdate}" method="POST" th:object="${nhanVien}">

    Id: <input th:field="*{id}" /> <br/> <br/>
    Tên: <input th:field="*{ten}"/> <br/> <br/>
    CMT: <input th:field="*{cmt}"/> <br/> <br/>

    Ngaysinh: <input th:field="*{ngaysinh}"/> <br/> <br/>

    Dia chi: <input th:field="*{diachi}"/> <br/> <br/>
    Bac nghe: <input th:field="*{bacnghe}"/> <br/> <br/>
    Thâm niên: <input th:field="*{thamnien}"/> <br/> <br/>
    Vị trí: <input th:field="*{vitri}"/> <br/> <br/>

    <input type="submit" value="UPDATE" />
</form>
</body>
</html>