<!DOCTYPE html>
        <html xmlns="http://www.w3.org/1999/xhtml"
              xmlns:th="http://www.thymeleaf.org">
          <head>
            <meta charset="UTF-8">
            <title>Bank</title>

          </head>
          <body>
            <h1>Welcome to Bank</h1>
            <img src="/bank.jpg">
            <table border="1">
              <tr>
                <td><a href="/employee/all" id="another">List nhân viên</a><br/></td>
                <td><a href="/customer/all" id="another">List khách hàng</a><br/></td>
                <td><a href="/tkguitien/all" id="another">List Tài Khoản Gửi tiền</a><br/></td>
              </tr>
            </table>
</body>
</html>
